<?xml version="1.0" encoding="UTF-8"?>
<config>
	<module>
		<enabled>true</enabled>
		<visible>false</visible>
		<icon>shipping</icon>
	</module>
	<project>
		<entry name="webserviceUrl">https://locateandselect.kiala.com/kplist</entry>
		<entry name="trackingUrl">https://trackandtrace-ws.kiala.com/tracker/rest/ParcelData</entry>
		<!-- Use this parameters to configure the iFrame -->
		<entry name="useFrame">false</entry> <!-- Can be true -->
		<entry name="frameBaseUrl">http://locateandselect.kiala.com/search</entry>
		<entry name="disableThumbnails">false</entry> <!-- Can be true -->
		<entry name="disableMap">false</entry> <!-- Can be true -->
		<entry name="mapWidth">500</entry> <!-- Can be a numeric value -->
		<entry name="mapHeight">400</entry> <!-- Can be a numeric value -->
		<entry name="alignMap">right</entry> <!-- Can be left -->
        <entry name="disableHeader">false</entry> <!-- Can be true -->
        <entry name="operatedCountries">be,fr,lu,nl,es,gb</entry> <!-- List of country codes where Kiala operate -->
        <entry name="kialaHelpPage">http://e-commerce.kiala.com</entry> <!-- URL for help page provide by Kiala -->
	</project>
</config>